<div class="space" [ngStyle]="{'background-color': background, 'color': color, }"></div>
<nav [ngStyle]="{'background-color': background, 'color': color, 'box-shadow':shadow}" style="display: flex; justify-content: space-between; align-items: center;" class="navBar">
    <div style="display: flex; align-items: center;">
        <img src="../assets/imgs/Ruben/logoAirbnb.png" alt="" width="120px" height="40px" style="margin-left: 20px;">
    </div>


    <div class="links">
        <a routerLink="/home" routerLinkActive="active" [ngClass]="{'bold-text': activeLink === 'home'}" 
           (click)="setActiveLink('home')" style="margin-left: 20px;" [ngStyle]="{'color':color}">Estancias</a>
        <a routerLink="/experiencias" routerLinkActive="active" [ngClass]="{'bold-text': activeLink === 'experiencias'}" 
           (click)="setActiveLink('experiencias')" style="margin-left: 20px;" [ngStyle]="{'color':color}">Experiencias</a>
        <a routerLink="/reporte-reservaciones" routerLinkActive="active" [ngClass]="{'bold-text': activeLink === 'reporte'}" 
           (click)="setActiveLink('reporte')" style="margin-left: 20px;" [ngStyle]="{'color':color}">Reporte de Citas</a>
        <a routerLink="/team-data" routerLinkActive="active" [ngClass]="{'bold-text': activeLink === 'team'}" 
           (click)="setActiveLink('team')" style="margin-left: 20px;" [ngStyle]="{'color':color}">Equipo de Desarrollo</a>
        <a  class="popup" [ngClass]="{'bold-text': activeLink === 'signup'}" 
           (click)="setActiveLink('signup')" (click)="openSignup()" style="margin-left: 20px;" [ngStyle]="{'color':color}">Signup</a>
        <a class="popup" [ngClass]="{'bold-text': activeLink === 'login'}" 
           (click)="setActiveLink('login')" (click)="openLogin()" style="margin-left: 20px;" [ngStyle]="{'color':color}">Login</a>
        <a routerLink="/contact" routerLinkActive="active" [ngClass]="{'bold-text': activeLink === 'contact'}" 
           (click)="setActiveLink('contact')" style="margin-left: 20px;" [ngStyle]="{'color':color}">Contáctanos</a>
        <a *ngIf=" $user | async as user" routerLink="/home" routerLinkActive="active" [ngClass]="{'bold-text': activeLink === 'login'}" 
           (click)="logout()" style="margin-left: 20px;" [ngStyle]="{'color':color}">Logout</a>
    <ng-container #normalHome>
        
    </ng-container>
        
    </div>

    
    <div class="derecha">
        <div class="bI">
            <div style="margin-right: 10px; padding-top: 3.5%;">
                <h4 [ngStyle]="{'color':color}" style="font-size: 15px;">El hogar perfecto para cada viajero</h4>
            </div>
            <div style="display: flex; padding-top: 1%;">
                    <div class="search">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control input-text sch" placeholder="Cantidad menor a: " [(ngModel)]="criteria" [ngStyle]="{'color':color, 'background-color':background}" style="margin-left: 2px; width: 50%;">
                            <div class="input-group-append" style="padding-right: 2%;">
                                <button class="btn-lg btnS" type="button" (click)="filterByPrice()"><i class="fa fa-search iconS"></i></button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <app-boton-darkmode (clicEnBoton)="manejarClicEnBoton()"></app-boton-darkmode>
                    </div>
            </div>
        </div>
    </div>
</nav>
<app-spinner></app-spinner>
<router-outlet></router-outlet>
<app-footer></app-footer>