<div class="space" [ngStyle]="{'background-color': background, 'color': color, }"></div>
<nav [ngStyle]="{'background-color': background, 'color': color, 'box-shadow':shadow}" style="display: flex; justify-content: space-between; align-items: center;" class="navBar">
    <div style="display: flex; align-items: center;">
        <img src="../assets/imgs/Ruben/logoAirbnb.png" alt="" width="120px" height="40px" style="margin-left: 20px;">
    </div>

    <div class="links">
        <a routerLink="/home" routerLinkActive="active" [ngClass]="{'bold-text': activeLink === 'home'}" 
           (click)="setActiveLink('home')" style="margin-left: 20px;" [ngStyle]="{'color':color}">Estancias</a>
        <a routerLink="/experiencias" routerLinkActive="active" [ngClass]="{'bold-text': activeLink === 'experiencias'}" 
           (click)="setActiveLink('experiencias')" style="margin-left: 20px;" [ngStyle]="{'color':color}">Experiencias</a>
        <a routerLink="/reporte-reservaciones" routerLinkActive="active" [ngClass]="{'bold-text': activeLink === 'reporte'}" 
           (click)="setActiveLink('reporte')" style="margin-left: 20px;" [ngStyle]="{'color':color}">Reporte de Citas</a>
        <a routerLink="/team-data" routerLinkActive="active" [ngClass]="{'bold-text': activeLink === 'team'}" 
           (click)="setActiveLink('team')" style="margin-left: 20px;" [ngStyle]="{'color':color}">Equipo de Desarrollo</a>
      </div>

    
    <div class="derecha">
        <div class="bI">
            <div style="margin-right: 10px; padding-top: 2%;">
                <h4 [ngStyle]="{'color':color}" style="font-size: 15px;">El hogar perfecto para cada viajero</h4>
            </div>
            <div style="display: flex;">
                    <div class="search">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control input-text sch" placeholder="Cantidad menor a: " [ngStyle]="{'color':color, 'background-color':background}" style="margin-left: 2px; width: 50%;">
                            <div class="input-group-append" style="padding-right: 2%;">
                                <button class="btn-lg btnS" type="button"><i class="fa fa-search iconS"></i></button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="btn" for="btn-check-outlined" (click)="change()" [ngStyle]="{'background-color': background}" style="border: none; margin-top: 3px;"><i [ngClass]="clase" [ngStyle]="{'color':color}"></i></label>
                    </div>
            </div>
        </div>
        
    </div>
</nav>
<router-outlet></router-outlet>