<div class="body"  [ngStyle]="{'background-color':background, 'color':color}">
    <p id="titulo">Conoce a los desarrolladores</p>
    <br>
    <div class="container" [ngStyle]="{'background-color':background, 'color':color}">
                <div class="card">
                    <div class="minicard" >
                        <img src="../assets/imgs/datos/cesar2.jpg" alt="" width="100px" height="100px">
                        <p>César Reyes Torres</p>
                    </div>
                
                    <div class="info">
                        <h4>Programador</h4>
                        <p>
                            Estudiante de ISC, apasionado por la programacion tanto backend como frontend. Combina habilidades tecnicas con un enfoque centrado en el diseño de interfaces intuitivas.
                        </p>
                        <h4>Información</h4>
                        <p>
                            Encargado de la maquetacion del sitio.
                            
                        </p>
                        <p>
                            Responsable del funcionamiento de la pagina de inicio.
                        </p>
                        <p>
                            Asesor de programacion frontend del sitio.
                        </p>
                    </div>
                </div>

                <br>

                <div class="card">
                        <div class="minicard">
                            <img src="../assets/imgs/datos/est.jpg" alt="" width="100px" height="100px">
                            <p>Estefeen Sandoval Rodriguez</p>
                        </div>
                    
                        <div class="info">
                            <h4>Programador</h4>
                            <p>
                                Apasionado de los videojuegos, la tecnologia y la programacion, se destaca por encontrar soluciones eficientes a diversos problemas, su enfoque combina habilidades tanto tecnicas como teoricas, permitiendo la creacion de aplicaciones poderosas como intuitivas elevando la experiencia del usuario. 
                            </p>
                            <h4>Información</h4>
                            <p>
                            Encargado de la tabla de reservaciones tanto proximas como previas.
                                
                            </p>
                            <p>
                            Responsable del filtro de precios.
                            </p>
                        </div>
                
                </div>

                <br>

                <div class="card">
                    <div class="minicard">
                        <img src="../assets/imgs/datos/ruben2.jpeg" alt="" width="100px" height="100px">
                        <p>Ruben Davila Flores</p>
                    </div>
            
                    <div class="info">
                        <h4>Programador</h4>
                        <p>
                        Ruben puede desenvolverse en diversos ambitos de la programacion, creando productos que son tanto funcionales  como esteticamente atractivos. Su enfoque se refleja en la creacion de interfaces que fusionan la funcionalidad y estetica.
                        </p>
                        <h4>Información</h4>
                        <p>
                        Encargado del formulario de reservaciones.
                        </p>
                        <p>
                        Responsable del nav de la pagina. 
                        </p>
                    </div>
                </div>

                <br>

                <div class="card">
                    <div class="minicard">
                        <img src="../assets/imgs/datos/robert2.jpg" alt="" width="100px" height="100px">
                        <p>Robert Everett Fillingham Gaeta</p>
                    </div>
            
                    <div class="info">
                        <h4>Programador</h4>
                        <p>
                            Con un enfoque multidisciplinario, integra habilidades técnicas avanzadas con una perspectiva centrada en la usabilidad y el diseño, creando soluciones innovadoras que simplifican la complejidad tecnológica para usuarios.
                        </p>
                        <h4>Información</h4>
                        <p>
                            Responsable de la pagina de cada lugar disponible.
                        </p>
                        <p>
                            Responsable del dark mode.
                        </p>
                    </div>
                </div>

                <br>

                <div class="card">
                    <div class="minicard">
                        <img src="../assets/imgs/datos/frida.jpg" alt="" width="100px" height="100px">
                        <p>Frida Ximena Escamilla Ramirez</p>
                    </div>
            
                    <div class="info">
                        <h4>Programadora</h4>
                        <p>
                            Con un enfoque equilibrado, apasionada por la programación en backend y frontend. Con habilidades técnicas y enfoque en diseño, desarrolla soluciones intuitivas para usuarios de todos los niveles.
                        </p>
                        <h4>Información</h4>
                        <p>
                            Encargada de la pagina de los datos del equipo.
                            
                        </p>
                        <p>
                            Responsable del footer de la pagina.
                        </p>
                    </div>
                </div>
                <br>
    </div>

</div>