
<div class="body" [ngStyle]="{'background-color':background, 'color':color}">


<div class="cards-container">
    @if( user$ ){
        <h1>Welcome to our app, {{userData.name}} {{userData.email}} {{userData.phone}} {{userData.type}} </h1>
    }
    @else{
        <h1>Welcome to our app!</h1>
    }
    
    
    <div class="card-columns">
        @for (item of array; track item; let i = $index){
            <div class="card" [ngStyle]="{'background-color': background}">
                <a [routerLink]="['/place-display', i]" routerLinkActive="active"  class="card-link">
                    <div class="square-container">
                        <img [src]="item.img1" class="card-img-top square-image" alt="...">
                    </div>
                    <div class="card-body" [ngStyle]="{'color':color}">
                        <div class="card-left">
                            <p class="card-title"><b>{{item.name}}</b></p>
                            <p class="card-text gray-text">{{item.quickDescription}}</p>
                            <p class="card-text"><b>{{item.priceNight}}</b> noche</p>
                        </div>
                        <div class="card-right">
                            @if(dark){
                                <p class="card-text"><img class="imgIcon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAR9JREFUSEu1lf11wjAMxE+TFDaBTcokhUlgk7JJ2eR41yfzHCMncpvon3w8Rz/Jd1YMG4dtnB9DAJLfAB5mdsoWlgaQ/ARw9cRHM7tnICMAVX/wpHczO64GIKnEAtSR6iLVge99qb5AUl0sAkjuAPwE2/EAcFrS4gXwRBLyA4CSKnQt99GWC6Jorxcz+31XA2oRM/rNrZGV9y3gDODrv5n9e23dbQLQA8k1IBN3vYncHKiRhkLRQxf9AdJ1VNemJDUW5KpMdA/dHGDEVbKl9HuLOQAzpfua7qleTYPi+7aoUcDFE0TnJdShB2gFnrjEx4o0qsfILfoR9QAabuXjUMBqdpVuXuOh3qa5DjSeF6elg9Rx+CtdHNcDTgqXbg54AuweexkeXj4uAAAAAElFTkSuQmCC" width="12px"/>{{item.rating}}</p>
                            }@else{
                                <p class="card-text"><img class="imgIcon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAQ9JREFUSEu1ldsRAjEIRe9WonainWglaiXaiXainegcZ+NgJFnwwc8+w4FcIIP+bMOf/SsLOEm6StpEA8sA1pIOo+OVpHMEkgEQ/XJ0inMgkxYF4BiAtVAWUYCNvkBCWUQAc0kXZy+K2F0tLABHCDmTxD3Gtdx7+w0Eq6/78s4CvG2YFLHxA8AF3yxgJ2n7qcdqHX1yrAE8/wLyUl2eyLahMgm5oreqKAtpVlSvTBkLgCLWbLoeIFNVlCX6vVkPcIuEPv7T7OpfavCo+9qyALYC8/rF1aEFqAWuq4TxgUZ2jNBYbwdRC8BwK4tbApbZVbJ5jge7Tb0MOAOIaOrkAkTG7lEaGdeJYoqL/JVTu/gOKd82GTFQwxMAAAAASUVORK5CYII=" width="12px"/>{{item.rating}}</p>
                            }
                        </div>
                    </div>
                </a>
            </div> 
        }
    </div>
</div>

<div class="video-area">
    <div class="line"><hr></div>
    <div class="video-container">
        <iframe width="1120" height="630" [src]="url | secure:'https://www.youtube.com/embed/' " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
<router-outlet></router-outlet>

</div>
