.card-left{
    width: 80%;
}
.card-right{
    width: 20%;
    text-align: end;
}
.card{
    border: 0px;
    margin-bottom: 30px;
}
.cards-container{
    width: 91%;
    margin-left: auto;
    margin-right: auto;
}
.card-body{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: #222;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
}
.square-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.square-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-link {
    text-decoration: none;
    color: inherit;
}
.card-text{
    margin-bottom: 5px;
}
.card-title{
    margin-bottom: 0px;
}
.imgIcon{
    padding-bottom: 2px;
margin-right: 4px;
}
.gray-text{
    color: #676565;
}