<div class="body" [ngStyle]="{'background-color':background, 'color':color}">
<footer class="footer" [ngStyle]="{'background-color':background, 'color':color}">
    <div class="footer-bottom" [ngStyle]="{'background-color':background, 'color':color}">
        <div class="footer-content" [ngStyle]="{'background-color':background, 'color':color}">
            <p>© 2024 Airbnb, Inc.</p>
            <ul class="lista">
                <li>Privacidad</li>
                <li>Terminos</li>
                <li>Mapa del sitio</li>
                <li>Informacion de la compañia</li>
            </ul>
            <div class="icons" [ngStyle]="{'background-color':background, 'color':color}">
                <i class="fa-solid fa-globe" [ngStyle]="{'background-color':background, 'color':color}"></i>
                <p>Español(MX)</p>
                <i class="fa-solid fa-dollar-sign" [ngStyle]="{'background-color':background, 'color':color}"></i>
                <p>MXN</p>
                <a href="https://www.facebook.com/airbnb/?locale=es_LA"><i class="fa-brands fa-facebook" [ngStyle]="{'background-color':background, 'color':color}"></i></a>
                <a href="https://www.instagram.com/airbnb/"><i class="fa-brands fa-instagram" [ngStyle]="{'background-color':background, 'color':color}"></i></a>
                <a href="https://twitter.com/airbnb_mx?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa-brands fa-twitter" [ngStyle]="{'background-color':background, 'color':color}"></i></a>
            </div>
        </div>
    </div>
</footer>
<p id="nota">ESTE ES UN PROYECTO ACADEMICO</p>

</div>




