<div class="body">    
    <div class="title"></div>
    <div class="pics"></div>
    <div class="info">
        <div class="texts">
            <div class="subtitle">

            </div>
            <div class="desc">

            </div>
        </div>
        <div class="payment">
            <div class="price"></div>
            <div class="buttonAndSub"></div>
            <div class="morePrices"></div>
            <div class="total"></div>
        </div>
    </div>
    <div class="offer"></div>
    <div class="location">
        <div class="locTitle"></div>
        <div class="loc">
            
        </div>
    </div>
</div>