.body{
  padding-left: 10%;
    padding-right: 10%;
    font-family: "Roboto", sans-serif;
    height:85vh;
}

.container {
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.container h1 {
  margin-top: 20px; 
}

.contact-form {
  width: 100%;
  max-width: 800px;
  margin: 20px; 
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .form-control:focus {
    border-color: #ff5a5f;
    outline: none;
  }
  
  .btn-submit {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff5a5f;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .btn-submit:disabled {
    background-color:  #FF5A5F;
    cursor: not-allowed;
  }
  
  .btn-submit:hover:not(:disabled) {
    background-color: #e14e50;
  }