<div class="price">${{priceNightString}} noche </div>
<div class="buttonAndSub">
    <button [ngStyle]="{'background-color':color}">Reservar</button>
    <small>Aún no se cobrará nada</small>
</div>
<div class="morePrices">
    
    <div >
        <div class="specialtd pp">${{priceNightString}}MXN x 5 noches</div>
        <div class="specialtd">Tarifa por servicio de Airbnb</div>
    </div>
    <div>
        <div class="specialTD pp">${{fiveNightsString}} MXN</div>
        <div class="specialTD"> ${{tarifaAirbnbString}} MXN</div>
    </div>
    
</div>
<div class="total">
    <div>Total antes de impuestos</div>
    <div>${{totalBeforeTaxString}}MXN</div>
</div>