.body{
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Roboto", sans-serif;
    height: 100%;
}
.cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
}  
.texto{
    font-weight: bold;
}
h3{
    font-size: 34px;
    margin-left: 1.4%;
}
.lable{ 
    color: black;
    font-weight: bolder;
    font-size: 18px;
}
th{
    font-size: 1.2rem;
}
td{
    font-size: 1rem;
}
th, td{
    border-color: #c5c5c5;
    height: 80px;
}
.btnEliminar{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
