.sign-up-container {
    max-width: 400px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: white;
    margin-top: 5%;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  label {
    margin-top: 0.5em;
  }
  input {
    margin-bottom: 1em;
  }
  button {
    background-color: rgb(0, 0, 71);
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }

  #maybe{
    color: red;
    font-size: small;
    text-decoration: underline red;
  }
  
  